#
 version 7.1.064, Release 0427P22
#
 sysname H3C
#
 system-working-mode standard
 xbar load-single
 password-recovery enable
 lpu-type f-series
#
vlan 1
#
interface Serial1/0
#
interface Serial2/0
#
interface Serial3/0
#
interface Serial4/0
#
interface NULL0
#
interface GigabitEthernet0/0
 port link-mode route
 combo enable copper
 ip address 192.168.56.123 255.255.255.0
#
interface GigabitEthernet0/1
 port link-mode route
 combo enable copper
#
interface GigabitEthernet0/2
 port link-mode route
 combo enable copper
#
interface GigabitEthernet5/0
 port link-mode route
 combo enable copper
#
interface GigabitEthernet5/1
 port link-mode route
 combo enable copper
#
interface GigabitEthernet6/0
 port link-mode route
 combo enable copper
#
interface GigabitEthernet6/1
 port link-mode route
 combo enable copper
#
 scheduler logfile size 16
#
line class aux
 user-role network-operator
#
line class console
 user-role network-admin
#
line class tty
 user-role network-operator
#
line class vty
 user-role network-operator
#
line aux 0
 user-role network-operator
#
line con 0
 user-role network-admin
#
line vty 0 15
 authentication-mode scheme
 user-role network-admin
 user-role network-operator
 protocol inbound ssh
#
line vty 16 63
 user-role network-operator
#
 ssh server enable
 sftp server enable
 ssh user zzy service-type all authentication-type password
#
domain system
#
 domain default enable system
#
role name level-0
 description Predefined level-0 role
#
role name level-1
 description Predefined level-1 role
#
role name level-2
 description Predefined level-2 role
#
role name level-3
 description Predefined level-3 role
#
role name level-4
 description Predefined level-4 role
#
role name level-5
 description Predefined level-5 role
#
role name level-6
 description Predefined level-6 role
#
role name level-7
 description Predefined level-7 role
#
role name level-8
 description Predefined level-8 role
#
role name level-9
 description Predefined level-9 role
#
role name level-10
 description Predefined level-10 role
#
role name level-11
 description Predefined level-11 role
#
role name level-12
 description Predefined level-12 role
#
role name level-13
 description Predefined level-13 role
#
role name level-14
 description Predefined level-14 role
#
user-group system
#
local-user zzy class manage
 password hash $h$6$lsYRAWCzohKXo49s$YpvwQlWyQ40LxIdBArg3A3Huc0NF9LipGn82D26u2N5X70YOchBvseRraDcE/ec0GXXWetRSOx+/uulmpVJVcQ==
 service-type ssh
 authorization-attribute user-role network-admin
 authorization-attribute user-role network-operator
#
public-key peer 192.168.56.123
 public-key-code begin
   30819F300D06092A864886F70D010101050003818D0030818902818100F6BD657164EA5AA3
   9F034199467FB19C617DF7E4B9F1082F1E172786EBCB9F9EA279BC44AE6343998EF4B29E07
   E8972D77F96AD95264B186AC4F9A264D51FF9C7E19033C9CA7943839E93E58DD1CC7B9F55B
   033602E7547493EFAB7C889CE8BC907DCC4739BCF58AED8F32425122DD94E43ECD6A970EA4
   43A68800F83E1F6BD10203010001
 public-key-code end
 peer-public-key end
#
return
